<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/img/logo.png">

  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description }}">

  <title>2FA &middot About</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
  <link rel="stylesheet" href="/css/about.css">
</head>
<body>
  <nav>
    <div class="left">
    </div>
    <div class="right">
    </div>
  </nav>

  {{ content }}
</body>
</html>
